/app/config/config.local.neon
/vendor/*
/log/*
!/log/.keep
/temp/*
!/temp/.keep
!.gitignore
.idea
/www/webtemp/*
!/www/webtemp/.keep
.DS_Store

# files copied from teddy
/www/css/teddy
/www/js/teddy
/www/js/workers/teddy
/www/images/teddy
