services:
    - Game\Router\RouterFactory
    - Teddy\WebSockets\ClientService()
    router: @Game\Router\RouterFactory::create()
    nette.presenterFactory:
        class: Game\Application\PresenterFactory
        arguments:
            - Nette\Bridges\ApplicationDI\PresenterFactoryCallback(..., 5, %appDir%/entities)

    pmListener:
            class: Game\Entities\PM\MessagesListener
            tags: [kdyby.subscriber]

    - Teddy\Map\MapService()
    - Teddy\Map\Components\IMapControlFactory()
    - Game\GameModule\Components\IWebcamControlFactory()
    - Game\Entities\Chat\ChatFacade()

migrations:
    dirs:
        - %libsDir%/teddy/framework/app/migrations

doctrine:
    metadata:
        Teddy: %libsDir%/teddy/framework/app/entities
        Game: %appDir%/entities
        Map: %appDir%/Map

publisher:
    teddyFramework:
        from: %libsDir%/teddy/framework/www
        to: %wwwDir%
        items:
            - /css/teddy
            - /js/teddy
            - /js/workers/teddy
            - /images/teddy
    websockets:
        from: %libsDir%/teddy/websockets/js
        to: %wwwDir%/js/teddy/websockets
        items:
            - /websockets.js
    map:
        from: %libsDir%/teddy/map
        to: %wwwDir%
        items:
            - /js/teddy/map
            - /css/teddy/map

webloader:
    css:
        game:
            files:
                map: teddy/map/map.less
    js:
        game:
            files:
                websockets: game/websockets/websockets.js
                astar: teddy/map/astar.js
                pathfinding: teddy/map/pathfinding.workers.js

console:
    url: http://www.teddy.l/
    commands:
        generateMap: Game\Map\Console\GenerateMapCommand
        embiggenMap: Game\Map\Console\EmbiggenMapCommand
