services:
    - Game\Router\RouterFactory
    router: @Game\Router\RouterFactory::create()
    nette.presenterFactory:
        class: Game\Application\PresenterFactory
        arguments:
            - Nette\Bridges\ApplicationDI\PresenterFactoryCallback(..., 5, %appDir%/model)

migrations:
    dirs:
        - %libsDir%/teddy/framework/app/migrations

doctrine:
    metadata:
        Teddy: %libsDir%/teddy/framework/app/entities
        Game: %appDir%/entities

publisher:
    package1:
        from: %libsDir%/teddy/framework/www
        to: %wwwDir%
        items:
            - /css/teddy
            - /js/teddy
            - /images/teddy
