services:
    - Game\Router\RouterFactory
    router: @Game\Router\RouterFactory::create()
    nette.presenterFactory:
        class: Game\Application\PresenterFactory
        arguments:
            - Nette\Bridges\ApplicationDI\PresenterFactoryCallback(..., 5, %appDir%/model)

migrations:
    dirs:
        - %libsDir%/teddy/framework/app/migrations

doctrine:
    metadata:
        Teddy: %libsDir%/teddy/framework/app/model
        Game: %appDir%/model

publisher:
    publicRoot: %wwwDir%
    assets:
        Teddy:
            hiddenRoot: %libsDir%/teddy/framework/www
            dirs:
                - /css/teddy
                - /js/teddy
                - /js/workers/teddy
                - /images/teddy
