<li style="display: none;"><a href="{plink :Game:Messages:default}">{$notifications} notifications</a><div id="teddy-events-notifications" style="display: none;">{$notifications}</div></li>
<li><a href="{plink :Game:Messages:default}">{$unreadMessages} unread messages</a><div id="teddy-events-unreadMessages" style="display: none;">{$unreadMessages}</div></li>
<li><a href="{plink :Game:Attacks:default}">{$attacks} attacks</a><div id="teddy-events-unreadMessages" style="display: none;">{$attacks}</div></li>
