# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
Options -Indexes

# allows symbolic links in this directory
Options +FollowSymLinks

# enable cool URL
<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /

    # remove trailing index.php
    RewriteCond %{THE_REQUEST} ^[A-Za-z]+\ /([^/]+/)*index\.php
    RewriteRule ^(([^/]+/)*)index\.php$ /$1 [R=301,QSA,L]

    # front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule !\.(js|ico|css)$ index.php [L]
</IfModule>

# default charset should be UTF-8
AddDefaultCharset utf-8

# enable gzip compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>
